body {
	background: #232323;
}

#container {
	padding-top: 5%;
	max-width: 600px;
	margin: 0 auto;
}

#header {	
	text-align: center;
	height: 100px;
	color: #fff;
}

#header h1 {

}

.square {
	width: 30%;
	background-color: red;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}